<h1>Demo#index</h1>
<p>This is the Index Page</p>

<%= link_to('Elizabeth Arsenault', {:action =>'professorProfile', :id => '1'})%>

<%= link_to('Computer Science 1', {:action => 'courseProfile', :id => 1})%>