<% @page_title = "Admin Menu" %>

<div class="menu">
	<ul>
		<li><%= link_to("View Courses", :controller => 'courses', :action => 'list')%></li>
		<li><%= link_to("View Professors", :controller => 'professors', :action => 'list')%></li>
	</ul>
</div>