<h1>
<%= @course.name%>
</h1>
<p> Best Professor for this course : 
	<%#@course.best_professor %>
</p>

<div> Professors who teach this course

<table>
	<tr>
		<th>Professor</th>
		<th>Rating</th>
		<th>Submit Review</th>
	</tr>
<% @course.professors.each do |c|%>
	<tr>
		<td><%= c.first_name + " " + c.last_name %></td>
		<td><%= 4.3%></td>
		<td><%= link_to("Review", @course.course_evaluations.find_by_professor_id(c))%>
	</tr>%>
<% end %>
</table>
</div>
