<h1>
<%= @course.name%>
</h1>
<p> Best Professor for this course : 
	<% #@course.best_professor %>
</p>

<div> Professors who teach this course

<table>
	<tr>
		<th>Professor</th>
		<th>Rating</th>
		<th>Submit Review</th>
	</tr>
<% @course.professors.each do |c|%>

	<tr>
		<td><%= c.first_name + " " + c.last_name %></td>
		<td><%= course_evaluation.where(course_evaluation.course_id = @course.id AND course_evaluation.professor_id = c.id)%></td>
	</tr>%>
<% end %>
</table>
</div>
